<h1 class="title">Editando Ação</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @accounting_action, class: 'btn btn-info' %>
<%= link_to 'Voltar', accounting_actions_path, class: 'btn btn-default' %>
