<h1 class="title">Editar Classificação</h1>

<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @item_classification, class: 'btn btn-info' %> 
<%= link_to 'Voltar', item_classifications_path, class: 'btn btn-default' %>
