<h1 class="title">Editando Stockroom_item</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @stockroom_item, class: 'btn btn-info' %>
<%= link_to 'Voltar', stockroom_items_path, class: 'btn btn-default' %>
