<h1 class="title">Editando Stockroom_entry</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @stockroom_entry, class: 'btn btn-info' %>
<%= link_to 'Voltar', stockroom_entries_path, class: 'btn btn-default' %>
