<div class="jumbotron">
  <div class="container">
    <h1>SisDAP</h1>
    <p class="text-center">Sistema do Departamento de Administração e Planejamento</p>

    <p class="text-center"><%= I18n.l Time.now, format: :short %></p>
  </div>
</div>
