<h1 class="title">Situação do Pedido Nº: <%= "1" %></h1>

<div class="checkout-wrap">
  <ul class="checkout-bar">

    <li class="visited first">
      <a href="#">Pedido Efetuado</a>
    </li>

    <li class="previous visited">Análise</li>

    <li class="active">Set. Compras</li>

    <li class="next">Set. Financeiro</li>

    <li class="">Set. Almoxarifado</li>
    
    <li class="">Completo</li>

  </ul>
</div>
