<h1>Editando Grupo de Fornecedores</h1>

<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @supplier_group, class: 'btn btn-primary' %>
<%= link_to 'Back', supplier_groups_path, class: 'btn btn-default' %>
