<h1 class="title">Visualizando Grupo de Fornecedores</h1>

<p>
  <strong>Nome:</strong>
  <%= @supplier_group.nome %>
</p>

<%= link_to 'Edit', edit_supplier_group_path(@supplier_group), class: 'btn btn-warning' %>
<%= link_to 'Back', supplier_groups_path, class: 'btn btn-primary' %>
