<h1 class="title">Editando Request_log</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @request_log, class: 'btn btn-info' %>
<%= link_to 'Voltar', request_logs_path, class: 'btn btn-default' %>
