<h1 class="title">Editando Ano de Exercício</h1>
	
<%= render 'form' %>

<hr />

<%= link_to 'Mostrar', @exercise, class: 'btn btn-info' %>
<%= link_to 'Voltar', exercises_path, class: 'btn btn-default' %>
