<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Solicitação de Compras de Materiais e/ou Serviços Licitados</title>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <style>
    body {
      background: #FFF !important;
      font-size: 12px;
    }

    #pdf section {
      margin-bottom: 0px;
      display: block;
      float: left;
      width: 100%;
    }

    #pdf hr {
      border-top: 1px solid #eee;
    }

    #pdf .title {
      margin-top: 20px;
    }

    #pdf #header {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    #pdf #header h1 {
      font-size: 15px !important;
      font-height: 15px;
      font-weight: bold;
      margin: 5px 0 0 0;
      text-align: center !important;
    }

    #pdf #header h2 {
      font-size: 13px !important;
      font-height: 13px;
      font-weight: bold;
      margin: 5px 0 0 0;
      text-align: center !important;
    }

    #pdf table td strong {
      width: 100px;
      display: block;
      float: left;
      text-align: right;
      margin-right: 20px;
    }

    #pdf table.table-condensed tr td {
      border-top: none;
      padding: 0px;
    }

    #pdf table tr td {
      border-top: none;
    }

    #pdf dl dt {
      width: 10%;
      float: left;
    }

    #pdf dl dd {
      width: 90%;
      float: right;
    }

    #pdf .bloco {
      border: 1px solid #000;
      padding: 10px;
      margin-bottom: 5px;
    }

    #pdf .data {
      text-align: right;
    }

    #pdf .assinatura {
      text-align: center;
      border-top: 1px solid #000;
      margin-top: 60px;
    }

    table, tr, td, th, tbody, thead, tfoot, section, dd, dt {
        page-break-inside: avoid !important;
      }
  </style>
</head>
<body id="pdf">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
